# Default ignored files
/../../../../../../GLEBST~1/AppData/Local/Temp/PhotoCatalog.py620969404369650017/.idea/shelf/
/../../../../../../GLEBST~1/AppData/Local/Temp/PhotoCatalog.py620969404369650017/.idea/workspace.xml
# Ignored default folder with query files
/../../../../../../GLEBST~1/AppData/Local/Temp/PhotoCatalog.py620969404369650017/.idea/queries/
# Datasource local storage ignored files
/../../../../../../GLEBST~1/AppData/Local/Temp/PhotoCatalog.py620969404369650017/.idea/dataSources/
/../../../../../../GLEBST~1/AppData/Local/Temp/PhotoCatalog.py620969404369650017/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../../../GLEBST~1/AppData/Local/Temp/PhotoCatalog.py620969404369650017/.idea/httpRequests/
